{% extends 'layout.html' %}
{% block title %} table {% endblock %} {% block content %}
<div>
    <h1 class="text-3xl text-start font-bold mb-4">
        Heart Disease Dataset Table
    </h1>
    <div class="mb-8">
        <h1 class="text-2xl font-bold mb-2">รายละเอียดของตาราง</h1>
        <ul class="space-y-2 list-inside list-disc mb-4">
            {% for key, value in HEART_DISEASE_COLUMNS.items() %}
            <li><span class="font-semibold">{{ key }} : </span> {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="relative overflow-x-auto shadow-md rounded-lg mb-8">
        <table class="w-full text-sm text-left rtl:text-right">
            <thead class="text-xs uppercase bg-gray-50">
                <tr>
                    {% if heart_disease_table and heart_disease_table|length > 0 %}
                    {% for column in heart_disease_table[0].keys() %}
                    <th class="px-6 py-3">{{ column }}</th>
                    {% endfor %}
                    {% else %}
                    <th>No data available</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if heart_disease_table and heart_disease_table|length > 0 %}
                {% for row in heart_disease_table %}
                <tr class="{% if loop.index % 2 == 1 %}bg-gray-100{% endif %}">
                    {% for key, value in row.items() %}
                    {% if key == 'target' %}
                    <td class="px-6 py-4 font-bold {% if value == 1 %}text-red-700{% else %}text-green-700{% endif %}">
                        {{ value }}
                    </td>
                    {% else %}
                    <td class="px-6 py-4">{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="100%" class="px-6 py-4 text-center">No data to display</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}